* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(60, 83, 236);
}

.image1:hover {
    position: relative;
}

.image1:hover:after {
    content: url(images/1.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}

.image2:hover {
    position: relative;
}

.image2:hover:after {
    content: url(images/2.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}

.image3:hover {
    position: relative;
}

.image3:hover:after {
    content: url(images/3.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}

.image4:hover {
    position: relative;
}

.image4:hover:after {
    content: url(images/4.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}

.image5:hover {
    position: relative;
}

.image5:hover:after {
    content: url(images/5.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}

.image6:hover {
    position: relative;
}

.image6:hover:after {
    content: url(images/6.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}

.image7:hover {
    position: relative;
}

.image7:hover:after {
    content: url(images/7.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}

.image8:hover {
    position: relative;
}

.image8:hover:after {
    content: url(images/8.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}

.image9:hover {
    position: relative;
}

.image9:hover:after {
    content: url(images/9.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}

.image10:hover {
    position: relative;
}

.image10:hover:after {
    content: url(images/10.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}

.image11:hover {
    position: relative;
}

.image11:hover:after {
    content: url(images/11.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
    /* left: -80px; */
    /* top: -32px; */
}

.image12:hover {
    position: relative;
}

.image12:hover:after {
    content: url(images/12.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
}


a {
    color: aliceblue;
}

.about {
    /* padding: 1em; */
    z-index: 1;
}

.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 5em;
    align-items: stretch;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    flex-wrap: wrap;
    color:aliceblue;
}

.upper {
    /* background: thistle; */
    /* border: 1px solid grey; */
    /* width: 50%; */
    height: 33%;
    display: flex;
    /* gap: 0.9em; */
    align-items: center;
    justify-content: space-evenly;
}

.middle {
    /* border: 0.5px solid grey; */
    /* background: red; */
    /* width: 50%; */
    height: 33%;
    display: flex;
    /* gap: 0.9em; */
    align-items: center;
    justify-content: space-evenly;
}

.lower {
    display: flex;
    /* background: green; */
    /* width: 50%; */
    height: 33%;
    /* border: 1px solid grey; */
    /* gap: 0.9em; */
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.grid-item {
    height: 100%;
    /* border-style: solid;
    border-width: 0px 0.5px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.rhyme {
    font-style: italic;
}

p {
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding: 2em;
}

.about {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    position: absolute;
    top: 5%;
    left: 5%;
}

.return {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding: 32px;
}

#grid.active .grid-item {
    border:0.5px solid;
  }

button {
    background-color: transparent;
    border: 1px solid aliceblue;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0.2em;
    position: absolute;
    top: 5%;
    right: 5%;
}